[Unit]

Description=Run Flask App for Settings
After=network.target

[Service]

WorkingDirectory=/home/pi/
ExecStart=sudo /home/pi/metar/bin/python3 /home/pi/settings.py
Restart=on-failure
User=pi
StandardOutput=journal
StandardError=journal

[Install]

WantedBy=multi-user.target