[Unit]

Description=Run Weather Service
After=network.target

[Service]

WorkingDirectory=/home/pi/
ExecStart=sudo /home/pi/metar/bin/python3 /home/pi/weather.py
Restart=10
User=root
StandardOutput=append:/var/log/weather.log
StandardError=append:/var/log/weather.log

[Install]

WantedBy=multi-user.target
