#test
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEARMap Settings</title>
    <link href="{{ url_for('static', filename='css/settings.css') }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='settings.ico') }}">
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar">
    <a href="#brightness">Brightness</a>
    <a href="#time-settings">Time Settings</a>
    <a href="#animation">Animation Settings</a>
    <a href="#airports">Airports</a>
    <a href="#wifi-settings">Wifi Settings</a>
</nav>

<div class="container">
<form method="POST" action="/" onsubmit="saveScrollPosition()">
<section>
    <div class="mb-3">
        <div class="dropdown-container">
            <label style="font-size: 25px;">
                General Notes
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Thank you for checking out the settings page! </br>
                This page contains all of the settings you need to make your map your own</br>
                If you don't understand a certain setting, it's best to leave it to the default value
            </div>
        </div>
    </div>
</section>
<section id="brightness">

    <h2>Brightness Settings</h2>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="brightness">Default Brightness (0.01 to 1.0)
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Adjusts the default LED brightness between 0.01 (minimum) and 1 (maximum)
            </div>
        </div>
        <input type="text" class="form-control input-small" name="brightness" value="{{ config.BRIGHTNESS }}" placeholder="Default: 0.5">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="daytime_dim_brightness">Night/Dimmed Brightness (0.01 to 1.0)
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                The LED brightness between "Dim time Start" and "Bright time start". Between 0.01 (minimum) and 1 (maximum)
            </div>
        </div>
        <input type="text" class="form-control input-small" name="daytime_dim_brightness" value="{{ config.DAYTIME_DIM_BRIGHTNESS }}" placeholder="Default: 0.2">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="dim_brightness">Windy Dim Brightness (0.01 to 1.0)
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
        <div class="dropdown-content" style="display: none;">
            How dim the LED will get when executing the windy animation. Range is between 0.01 (minimum) 1 (maximum)
        </div>
    </div>
        <input type="text" class="form-control input-small" name="dim_brightness" value="{{ config.DIM_BRIGHTNESS }}" placeholder="Default: 0.05">
    </div>
</section>



<!-- Animation Settings -->

<section id="animation">
    
    <h2>Animation Settings</h2>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="animation_pause">Animation Pause Time (in seconds)
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Sets the duration of pause between each animation cycle, in seconds.
            </div>
        </div>
        <input type="text" class="form-control input-small" name="animation_pause" value="{{ config.ANIMATION_PAUSE }}" placeholder="Default: 15">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="wind_threshold">Wind Threshold
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Steady state or gust over this value in knots will trigger the windy animation
            </div>
        </div>
        <input type="text" class="form-control input-small" name="wind_threshold" value="{{ config.WIND_THRESHOLD }}" placeholder="Default: 15">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="wind_fade_time">Wind Fade Time (in seconds)
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                How long it takes the LED to fade from bright to dim/dim to bright, in seconds
            </div>
        </div>
        <input type="text" class="form-control input-small" name="wind_fade_time" value="{{ config.WIND_FADE_TIME }}" placeholder="Default: 0.5">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="wind_pause">Wind Fade Pause Time (in seconds)
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                How long the LED will be pause at the dim brigthness when executing the windy animation, in seconds
            </div>
        </div>
        <input type="text" class="form-control input-small" name="wind_pause" value="{{ config.WIND_PAUSE }}" placeholder="Default: 1.0">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="lightning_flash_count">Lightning Flash Count
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Sets the number of flashes that occur during the lightning animation.
            </div>
        </div>
        <input type="text" class="form-control input-small" name="lightning_flash_count" value="{{ config.LIGHTNING_FLASH_COUNT }}" placeholder="Default: 2">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="snow_blink_count">Snow Blink Count
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Sets the number of blinks during the snowy animation.
            </div>
        </div>
        <input type="text" class="form-control input-small" name="snow_blink_count" value="{{ config.SNOW_BLINK_COUNT }}" placeholder="Default: 2">
    </div>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="snow_blink_pause">Snow Blink Pause (in seconds)
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Sets the pause duration between each blink during the snow animation, in seconds.
            </div>
        </div>
        <input type="text" class="form-control input-small" name="snow_blink_pause" value="{{ config.SNOW_BLINK_PAUSE }}" placeholder="Default: 0.4">
    </div>
</section>
<section>
    <h2>Color Settings</h2>
    <table class="table table-borderless color-settings-table" style="margin: 0 auto;">
        <tr>
            <td class="color-picker-container">
                <label for="vfr-color-picker">VFR Color:</label>
                <input type="color" id="vfr-color-picker" name="vfr_color" value="{{ vfr_color }}">
            </td>
            <td class="color-picker-container">
                <label for="mvfr-color-picker">MVFR Color:</label>
                <input type="color" id="mvfr-color-picker" name="mvfr_color" value="{{ mvfr_color }}">
            </td>
            <td class="color-picker-container">
                <label for="ifr-color-picker">IFR Color:</label>
                <input type="color" id="ifr-color-picker" name="ifr_color" value="{{ ifr_color }}">
            </td>
        </tr>
        <tr>
            <td class="color-picker-container">
                <label for="lifr-color-picker">LIFR Color:</label>
                <input type="color" id="lifr-color-picker" name="lifr_color" value="{{ lifr_color }}">
            </td>
            <td class="color-picker-container">
                <label for="lightening-color-picker">Lightening Color:</label>
                <input type="color" id="lightening-color-picker" name="lightening_color" value="{{ lightening_color }}">
            </td>
            <td class="color-picker-container">
                <label for="missing-color-picker">Missing Color:</label>
                <input type="color" id="missing-color-picker" name="missing_color" value="{{ missing_color }}">
            </td>
        </tr>
    </table>
</section>


<section>
<h2>Advanced Settings</h2>

    <div class="mb-3">
        <div class="dropdown-container">
            <label for="num_steps">Number of Windy Animation Steps
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                How smooth the windy animation is. Recommended, 100
            </div>
        </div>
        <input type="text" class="form-control input-small" name="num_steps" value="{{ config.NUM_STEPS }}" placeholder="Default: 100">
    </div>
    <div class="mb-3">
        <div class="dropdown-container">
            <label for="num_pixels">Pixel Count
                <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
            </label>
            <div class="dropdown-content" style="display: none;">
                Total number of pixels in your setup. (Should be at least as many lines in your airport file)
            </div>
        </div>
        <input type="text" class="form-control input-small" name="num_pixels" value="{{ config.NUM_PIXELS }}" placeholder="i.e. 50">
    </div>

<!-- Boolean Animations (Toggles) -->
    

    <div class="toggle-container">
        <div class="toggle-wrapper">
            <!-- Dynamically set the 'checked' attribute based on the ENABLE_LIGHTS_OFF value -->
            <input type="checkbox" id="enable_lights_off" name="enable_lights_off" class="toggle-input" {% if enable_lights_off %}checked{% endif %}>
            <label for="enable_lights_off" class="toggle-label">Enable Lights On/Off Time</label>
        </div>
        <!-- Daytime Dimming Toggle -->
        <div class="toggle-wrapper">
            <input type="checkbox" id="daytime_dimming" name="daytime_dimming" class="toggle-input" {% if config.DAYTIME_DIMMING %}checked{% endif %}>
            <label for="daytime_dimming" class="toggle-label">Enable Daytime Dimming</label>
        </div>
        <!-- Wind Animation Toggle -->
        <div class="toggle-wrapper">
            <input type="checkbox" id="wind_animation" name="wind_animation" class="toggle-input" {% if config.WIND_ANIMATION %}checked{% endif %}>
            <label for="wind_animation" class="toggle-label">Enable Wind Animation</label>
        </div>
        <!-- Lightning Animation Toggle -->
        <div class="toggle-wrapper">
            <input type="checkbox" id="lightening_animation" name="lightening_animation" class="toggle-input" {% if config.LIGHTENING_ANIMATION %}checked{% endif %}>
            <label for="lightening_animation" class="toggle-label">Enable Lightning Animation</label>
        </div>
        <!-- Snowy Animation Toggle -->
        <div class="toggle-wrapper">
            <input type="checkbox" id="snowy_animation" name="snowy_animation" class="toggle-input" {% if config.SNOWY_ANIMATION %}checked{% endif %}>
            <label for="snowy_animation" class="toggle-label">Enable Snowy Animation</label>
        </div>
        <div class="toggle-wrapper">
            <input type="checkbox" id="legend" name="legend" class="toggle-input" {% if legend %}checked{% endif %}>
            <label for="legend" class="toggle-label">Enable LED Legend</label>
        </div>
        <div class="toggle-wrapper">
            <input type="checkbox" id="enable_https" name="enable_https" class="toggle-input" {% if enable_https %}checked{% endif %}>
            <label for="enable_https" class="toggle-label">Enable HTTPS</label>
        </div>

    </div>
</section>
<section id="time-settings">
    <h2>Time Settings</h2>
    
    <!-- Lights On Time -->
        <div class="mb-3">
            <div class="dropdown-container">
                <label for="lights_on_time">Lights On Time (HH:MM)
                    <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
                </label>
                <div class="dropdown-content" style="display: none;">
                    Set the time to turn on the LEDs
                </div>
            </div>
            <select name="lights_on_time_hour" class="form-select inline-input">
                {% for hour in range(0, 24) %}
                    <option value="{{ hour }}" {% if config.LIGHTS_ON_TIME.hour == hour %}selected{% endif %}>{{ "%02d" % hour }}</option>
                {% endfor %}
            </select> :
            <select name="lights_on_time_minute" class="form-select inline-input">
                {% for minute in range(0, 60, 5) %}
                    <option value="{{ minute }}" {% if config.LIGHTS_ON_TIME.minute == minute %}selected{% endif %}>{{ "%02d" % minute }}</option>
                {% endfor %}
            </select>
        </div>
    <!-- Lights Off Time -->
        <div class="mb-3">
            <div class="dropdown-container">
                <label for="lights_off_time">Lights Off Time (HH:MM)
                    <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
                </label>
                <div class="dropdown-content" style="display: none;">
                    Set the time to turn off the LEDs
                </div>
            </div>
            <select name="lights_off_time_hour" class="form-select inline-input">
                {% for hour in range(0, 24) %}
                    <option value="{{ hour }}" {% if config.LIGHTS_OFF_TIME.hour == hour %}selected{% endif %}>{{ "%02d" % hour }}</option>
                {% endfor %}
            </select> :
            <select name="lights_off_time_minute" class="form-select inline-input">
                {% for minute in range(0, 60, 5) %}
                    <option value="{{ minute }}" {% if config.LIGHTS_OFF_TIME.minute == minute %}selected{% endif %}>{{ "%02d" % minute }}</option>
                {% endfor %}
            </select>
        </div>
    <!-- Bright Time Start -->
        <div class="mb-3">
            <div class="dropdown-container">
                <label for="bright_time_start">Bright Time Start (HH:MM)
                    <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
                </label>
                <div class="dropdown-content" style="display: none;">
                    Set the time to return the LEDs to the default brightness
                </div>
            </div>
            <select name="bright_time_start_hour" class="form-select inline-input">
                {% for hour in range(0, 24) %}
                    <option value="{{ hour }}" {% if config.BRIGHT_TIME_START.hour == hour %}selected{% endif %}>{{ "%02d" % hour }}</option>
                {% endfor %}
            </select> :
            <select name="bright_time_start_minute" class="form-select inline-input">
                {% for minute in range(0, 60, 5) %}
                    <option value="{{ minute }}" {% if config.BRIGHT_TIME_START.minute == minute %}selected{% endif %}>{{ "%02d" % minute }}</option>
                {% endfor %}
            </select>
        </div>
    <!-- Dim Time Start -->
        <div class="mb-3">
            <div class="dropdown-container">
                <label for="dim_time_start">Dim Time Start (HH:MM)
                    <span class="tooltip-icon" tabindex="0" role="button" aria-expanded="false">ℹ️</span>
                </label>
                <div class="dropdown-content" style="display: none;">
                    The time when the LEDs will change to night/dimmed brightness
                </div>
            </div>
            <select name="dim_time_start_hour" class="form-select inline-input">
                {% for hour in range(0, 24) %}
                    <option value="{{ hour }}" {% if config.DIM_TIME_START.hour == hour %}selected{% endif %}>{{ "%02d" % hour }}</option>
                {% endfor %}
            </select> :
            <select name="dim_time_start_minute" class="form-select inline-input">
                {% for minute in range(0, 60, 5) %}
                    <option value="{{ minute }}" {% if config.DIM_TIME_START.minute == minute %}selected{% endif %}>{{ "%02d" % minute }}</option>
                {% endfor %}
            </select>
        </div>
</section>
<!-- Airports Section with Line Numbers -->
<section id="airports" class="airports">
    <h2>Airports</h2>
    <label for="airportsText">ICAO Identifiers (one per line)</label>

    <div class="textarea-wrapper">
        <div class="line-numbers" id="line-numbers"></div>
        <textarea class="form-controltextarea" name="airports" id="airportsText" rows="10">{{ airports }}</textarea>
    </div>
</section>

<!-- WiFi Settings Section -->
<section id="wifi-settings">
    <h2>WiFi Settings</h2>
    <text style="font-size: small;">NOTE: Save settings before connecting to a new netwrok</text>
</br>
    <button id="scan-button" class="btn-primary">Scan for Networks</button>
    <div id="connection-status" class="mt-3"></div>
    <div id="network-dropdown" class="mt-4">
        <select id="ssid-select" name="ssid" class="form-control">
            <option value="">Scan First...</option>
        </select>
    </div>
    <div id="password-input" class="mt-3">
        <label for="wifi-password">Password (leave blank if open)</label>
        <input type="text" id="wifi-password" name="wifi-password" class="form-control" placeholder="Enter password" placeholder="Password Here">
    </div>
    <div class="mt-4">
        <button type="button" id="connect-button" class="btn-primary">Connect</button>
    </div>
</section>
<section>
	<!-- Submit Button -->
</br>
     NOTE: If you made chagnes to any settings above...
</br>
    Be sure to click "Save" before restarting any services

 	<div class="mt-4">
		<button type="submit" class="btn btn-primary" onclick="saveAndRestart()">Save</button>
	</div>
	<!-- Restart METAR Service Button -->
	<div class="mt-4">
		<a href="{{ url_for('restart_metar') }}" class="btn btn-primary">Restart METAR Service</a>
	</div>
    This will restart the service that runs the lights.
</br>
    Be sure to save before restarting this service

	<div class="mt-4">
		<button id="restart-settings-button" class="btn btn-primary">Restart Settings Service</button>
	</div>
	<div id="restart-settings-status" style="margin-top: 10px; color: green; font-weight: bold;"></div>
    This will restart the service that runs this website
 

	<div class="mt-4">
		<a href="{{ url_for('update_weather') }}" class="btn btn-primary">Update Weather</a>
		<label style="color: grey; font-size: smaller;">Last Weather Update:</label>
		<span style="color: grey; font-size: smaller;">{{ weather_last_modified }}</span>
	</div>

    <div class="mt-4">
        <button id="check-updates-button" class="btn btn-primary">Check for Updates</button>
        <div id="update-status" class="mt-2"></div>
        <div id="update-button-container" class="mt-2"></div>
    </div>

	<div class="mt-4">
		<a href="{{ url_for('stop_and_blank') }}" class="btn btn-primary">Stop METAR</a>
	</div>
This will stop the METAR service and turn off the LEDs
</section>

</form>
</div>
<script type="text/javascript">
    const messages = [];
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                messages.push({ category: '{{ category }}', message: '{{ message }}' });
            {% endfor %}
        {% endif %}
    {% endwith %}
</script>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>

</body>
</html>
